.item {
    display: flex;
    width: 100%;
    padding: 0.8rem 5rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--grey);
    position: relative;
}

 .depense{
    color: green;
}

 .revenu{
    content: red;
}

.item_info{
    display: flex;
    align-items: center;
}

.item_info p{
    padding-right: rem;
    font-size: 1.5em; 
}

.item_title {
    font-size: 1.2rem;
}

.item_delete{
    position: absolute;
    right: 0;
    font-size: 1rem;
    color: var(--alert);
    transition: 0.4s;
    text-transform: uppercase;
    display: none;
    margin-top: 5px;
    cursor: pointer;
    font-family: inherit;
}