.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title{
    letter-spacing: 2px;
    margin: 10px;
}

.balance{
    font-size: 2rem;
    font-weight:400 ;
    padding: 0.7rem 2rem;
    background-color: var(--grey);
    color: var(--dark);
    border-radius: 15px;
    align-items: flex-start;
    margin-left: 10px;
} 

 .initial{
    font-size: 2rem;
    font-weight:400 ;
    padding: 0.7rem 2rem;
    background-color: var(--grey);
    color: var(--dark);
    border-radius: 15px;
    align-items: flex-start;
    margin-right: 50px;

  
}