 .text{
    border-radius: 4px 0px 0px 4px;
    flex: 1 1 100px;
} 

 .number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button::-webkit-inner-spin-button{
    -webkit-appearance:none ;
    margin: 0;
} 

.date{
    border-radius: 0px;
    min-width: 200px;
    margin-right: 20px;
    margin: 20px;
} 

 .submit{
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    margin-left: 20px;
    color:var(--dark);
    font-weight:600 ;
    text-transform: uppercase;
    transition: 0.4s;
    margin: 20px;
    background-color: grey;
    height: 50px;
} 

 .submit:hover{
    color: #000;
}


