:root {
  --light:#fffffc;
  --dark:var(--dark);
  --grey:var(--grey);
  --primary:var(--primary);
  --alert:red;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family:'Nunito', sans-serif ;
  color: var(--dark);
}

body{
  margin: 0;
}

input,button{
  border: none;
  outline: none;
  background: none;
}