.item{
    display: flex;
    width:80% ;
    padding: 2.8rem 5rem;
    justify-content: space-between;
    border-bottom: 2px solid royalblue;
    position: relative;
}

.item .revenu{
    color:green;
}

.item .depense{
    color: red;
}

.item_info{
    display: flex;
    align-items: center;
}

.item_info p {
    padding-right: 8rem;
    font-size: 1.2rem;
}

.item_description{
    font-size: 1.2rem;
}

.item_delete{
    position: absolute;
   right: 0;
   font-size: 1rem;
   color: var(--alert);
   transition: 0.5s;
   text-transform:uppercase ;
   display: none;
   margin-top: 5px;
   cursor: pointer;
   font-family: inherit;
}
